html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 70px; 
  background: rgba(0, 0, 0, 0.288);
  color: #ffffffef;
  font-family: 'Inter', 'Roboto', 'Segoe UI';
}

#root {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 3rem;
  text-align: center;
}@media (max-width: 400px){
  #root{
    padding: 2rem;
    
  }
}
@media (max-width: 340px){
  #root{
    padding: 1rem;
    
  }
}
