.smaller-nav-menu{
    position: fixed;
    top: 89px;
    left: 0.001%;
    width: 80px;
    height: 100%;
    box-shadow: 6px 0px 3px rgba(59, 59, 59, 0.26);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    padding-top: 1em;
    background: whitesmoke;

}

.smaller-nav-menu .dashboardlink{
    /* background: #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 90%;
    border-radius: 8px;
    padding: 0.5rem;
    color: rgba(0, 0, 0, 0.658);
}
.dashboardlink:hover,
.dashboardlink.active {
    color: var(--main-color);
    scale: 1.1;
}
.dashboardlink .link-icon{
    font-size: 1.5rem;
}
.dashboardlink .link-text{
    font-size: small;
}

@media (max-width: 1024px){
    .smaller-nav-menu{
        width: 60px;   
    }
    .dashboardlink .link-text{
        font-size: 0.6rem;
    }

}
/* Mobile Bottom Navigation */
@media (max-width: 768px){
    .smaller-nav-menu{
        top : calc(100% - 50px);
        bottom: 0.01%;
        z-index: 1000;
        width: 100%;
        height: 50px;
        border-top: var(--border-style);
        border-right: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-top: 0;
        backdrop-filter: blur(20px);
    }
    .smaller-nav-menu .dashboardlink{
        padding: 0;
    }
    .dashboardlink .link-icon{
        font-size: 1.3rem;
        margin-bottom: -0.34rem;
    }
}
@media (max-width: 320px){
    .smaller-nav-menu{
        padding: 0 0.2rem;
    }
    .smaller-nav-menu .dashboardlink {
        font-size: 0.55rem;
    }

    .dashboardlink .link-icon{
        font-size: 1.1rem;
    }   

}