.dashboard-content{
    margin-right: -40px;
    margin-left: 40px;
    
}
@media(max-width:1100px){
    .dashboard-content{
        margin-right: -40px;
        margin-left: 20px;
        
    }
}
@media(max-width:768px){

    .dashboard-content{
        margin-right: 0px;
        margin-left: 0px;
        
    }
}