.smaller-nav-menu{
    position: fixed;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    z-index:  999;
    margin-top: -1rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--bg-container);
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    border-bottom: 1px solid #4a5672e0;
    border-left: 1px solid #4a5672e0;
    border-right: 1px solid #4a5672e0;
    overflow: auto;
}

.smaller-nav-menu .dashboardlink{
    /* background: #000; */
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: all 1.0s ease;
    width: auto;
    border-radius: 18px;
    border: 1px solid #9b9da196;
    padding: 0.35rem 0.85rem;
    color: #4a5672a1;
}
.dashboardlink:hover,
.dashboardlink.active {
    color: var(--highlight-color);
    border-color: var(--highlight-color);
}
.dashboardlink .db-nav-icon{
    font-size: 1.1rem;
}
.dashboardlink .db-nav-text{
    font-size: smaller;
}

@media (max-width: 1024px){
    .smaller-nav-menu{
    }
    .dashboardlink .db-nav-text{
        font-size: 0.6rem;
    }

}
/* Mobile Bottom Navigation */
@media (max-width: 768px){
    .smaller-nav-menu{
    }
    .smaller-nav-menu .dashboardlink{
    
    }
    .dashboardlink .db-nav-icon{
        font-size: 1.1rem;
       
    }
    .dashboardlink .db-nav-text{
        font-size: small;
       
    }
}
@media (max-width: 500px){
    .smaller-nav-menu {
        margin-top: -2rem;
        padding: 0.35rem;
    }
    .smaller-nav-menu .dashboardlink{
        border: none;
    }
    .dashboardlink .db-nav-text{
        display: none;
    }
}
@media (max-width: 376px){
    .smaller-nav-menu {
       margin-top: -1rem;
    }
}
@media (max-width: 320px){
    .smaller-nav-menu{
    
    }
    .smaller-nav-menu .dashboardlink {
        font-size: 0.6rem;
    }

    .dashboardlink .db-nav-icon{
        font-size: 1.1rem;
    }   

}