.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
    border: var(--border-style);
    border-radius: 20px;
    padding: 1em 0;
}
.login-rafiki-image{
    width: 40%;
}
.login-form-wrapper{
    width: 34%;

}
.login-wrapper-header{
    font-size: larger;
    padding-bottom: 1em;
}
.login-form{
    width: 100%;
}
.login-form input{
    width: calc( 100% - 3.1rem);
    padding: 1rem 1.5rem;
    border: 1px solid #ffffff5b;
    border-radius: 8px;
    font-size: 0.95rem;
    font-family: inherit;
    transition: all 0.3s ease;
    background: transparent;
    letter-spacing: 1px;
}
.login-form input:focus{
  outline: none;
  border-color: #667eea;
  background: rgba(82, 81, 81, 0.301);
  box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.1);
}
.login-form .error-massage{
    color: rgba(240, 35, 70, 0.808);
}

@media (max-width: 770px){
    .login-container{
        display: block;
        padding: 1em 7em;
    }
    .login-rafiki-image{
        display: none;
    }
    .login-form-wrapper{
        width: 100%;
        
    }
}

@media (max-width: 490px){
    .login-container{
        padding: 1em 3em;
    }
}

@media (max-width: 390px){
    .login-container{
        padding: 1em 2em;
    }
}
