.login-container{
    background: white;
    backdrop-filter: blur(15px);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: var(--border-style);
    border-radius: 35px;
    padding: 1em 0;
    box-shadow: 0 4px 10px gray;
}
.login-rafiki-image{
    width: 35%;
}

.partition{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    /* background: #917777; */
    color: gray;
}
.vertical-hr{
    width: 0.5px;
    height: 100px;
    display: inline-block;
    
}
.login-form-wrapper{
    width: 34%;

}

.login-wrapper-header{
    font-size: larger;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
}
.login-wrapper-header p{
    font-size: smaller;
    color: rgb(90, 89, 89);
}
.login-form{
    width: 100%;
}
.login-form input[type=radio]{
  display: none;
}
.login-footer{
    margin-top: 1.5em;
}
@media (max-width: 1024px){
    .login-container{
        /* background: #755050; */
        gap: 3em;
        margin: 0 auto;
    }
    .login-rafiki-image{
        width: 45%;
    }
    .login-form-wrapper{
        width: 36%;

    }
}
@media (max-width: 770px){
    .login-container{
        display: block;
        padding: 2em 3em;
    
    }
    .login-rafiki-image{
        display: none;
    }
    .login-form-wrapper{
        width: 100%;
        
    }
}

@media (max-width: 490px){
    .login-container{
        padding: 2em;
    }
}

@media (max-width: 390px){
    .login-container{
        padding: 1em ;
    }
}
