.login-container{
    background: white;
    backdrop-filter: blur(15px);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: var(--border-style);
    border-radius: 35px;
    padding: 1em 0;
    box-shadow: 0 4px 10px gray;
}
.login-rafiki-image{
    width: 35%;
}

.partition{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    /* background: #917777; */
    color: gray;
}
.login-form-wrapper{
    width: 35%;

}

.login-wrapper-header{
    font-size: larger;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
}
.login-wrapper-header p{
    font-size: smaller;
    color: rgb(90, 89, 89);
}
.login-form{
    width: 100%;
    padding: 0rem 2rem 2rem 2rem;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid rgba(70, 69, 69, 0.2);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.171);
    transition: all 0.3s ease;
}
.login-form input[type=radio]{
  display: none;
}
.login-footer{
    margin-top: 1.5em;
}
@media (max-width: 1024px){
    .login-container{
        /* background: #755050; */
        gap: 3em;
        margin: 0 auto;
    }
    .login-rafiki-image{
        width: 40%;
    }
    .login-form-wrapper{
        width: 37%;

    }
}
@media (max-width: 770px){
    .login-container{
        display: block;
        padding: 2em 3em;
    
    }
    .login-rafiki-image{
        display: none;
    }
    .login-form-wrapper{
        width: 90%;
        margin: 0 auto;
        
    }
}

@media (max-width: 490px){
    .login-container{
        width: 90%;
    }
    .login-container{
        padding: 1.5rem;
    }
    .login-form{
        padding: 0rem;
        border: none;
    }
}
@media (max-width: 425px) {
    .login-container{
        width: 95%;
    }
    .login-form-wrapper{
        width: 100%;
    }
}

@media (max-width: 390px){
    .login-container{
        padding: 1.2rem;
    }
}
